
      <br>
 <div class="mycontainer">     
<div class="card text-white bg-primary m-5" style="max-width: 18rem;">
    <div class="card-header text-center"><h2>{{stad}}</h2>
    <p><img src="{{iconurl}}"></p></div>
    <div class="card-body">
      <p class="card-text">Zicht: {{Zicht}}</p>
      <p class="card-text">Temperatuur: {{temperatuur}} °C</p>
      <p class="card-text">Voelt als: {{feelslike}} °C</p>
      <p class="card-text">Druk: {{Druk}} hPa</p>
      <p class="card-text">Luchtvochtigheid: {{luchtvochtig}} %</p>
    </div>
  </div>
</div>

